{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Car details : {{ car.manufacturer.name }} {{ car.model }}</h1>
    <p>Manufacturer: {{ car.manufacturer.name }}</p>
    <p>Model: {{ car.model }}</p>

    <h3>Driver:</h3>
    {% if car.drivers.all %}
        <ul class="list-group mb-3">
            {% for driver in car.drivers.all %}
                <li class="list-group-item">
                    <a href="{{ driver.get_absolute_url }}">{{ driver.username }}</a>
                    {% if driver.license_number %}
                        (License: {{ driver.license_number }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are currently no drivers for this vehicle.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" action="{% url "taxi:car-detail" pk=car.pk %}">
            {% csrf_token %}
            {% if user in car.drivers.all %}
                <button type="submit" class="btn btn-danger">Remove me from this car</button>
            {% else %}
                <button type="submit" class="btn btn-success">Assign me to this car</button>
            {% endif %}
        </form>
    {% endif %}

    <a href="{% url "taxi:car-list" %}" class="btn btn-secondary mt-3">Return to the list of cars</a>

    {% if user.is_staff %}
        <a href="{% url "taxi:car-update" pk=car.pk %}" class="btn btn-primary mt-3">Edit car</a>
        <a href="{% url "taxi:car-delete" pk=car.pk %}" class="btn btn-danger mt-3">Delete car</a>
    {% endif %}

{% endblock content %}
