{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Driver List</h1>
    <a href="{% url "taxi:driver-create" %}" class="btn btn-primary mb-3">

    {% if driver_list %}
        <ul class="list-group">
            {% for driver in driver_list %}
                <li class="list-group-item">
                    <a href="{{ driver.get_absolute_url }}">{{ driver.username }}</a>
                    {% if driver.license_number %}
                        (License: {{ driver.license_number }})
                    {% else %}
                        (License missing)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No drivers available .</p>
    {% endif %}

    {% include "includes/pagination.html" %}
{% endblock content %}
